{% extends "_layout.html" %}
{% block content %}
    <div class="container-fluid inContent">
        <div class="main-container">
            <label for="inputText">Input Text:</label><br><br>
                <textarea id="inputText" name="text" rows="4" cols="30">{{ text_value }}</textarea><br><br>
                
                <p style="color:red;font-size: medium;">{{ validation_mssg }}</p>
        </div>
        <div class="inContent">
            {% if classifier_result=="SPAM" %}
                <p style="color:black">Result : <span style="color:red; font-size: larger;">{{ classifier_result }}</span></p>
            {% endif %}
            
            {% if classifier_result=="HAM" %}
                <p style="color:black">Result : <span style="color: green; font-size: larger;">{{ classifier_result }}</span></p>
            {% endif %}

            {% if classifier_result=="" %}
                <p style="color:black">Result : <span style="color: green; font-size: larger;"></span></p>
            {% endif %}

            <a href="{{ url_for('home') }}" style="font-size: medium;">Check another!</a>
        </div>
    </div>        
{% endblock content %}